<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambio de contraseña exitoso</title>
    <link rel="icon" href="/assets/candado.png" />
    <link rel="stylesheet" href="/views/views.css" />
  </head>
  <body class="fondo-sucess">
    <div class="card">
      <img src="/assets/verificado.png" alt="Éxito" />
      <h2>¡Contraseña cambiada correctamente!</h2>
      <p>
        Tu contraseña ha sido actualizada exitosamente. Ya puedes iniciar sesión
        con tus nuevas credenciales.
      </p>
      <a href="http://localhost:5173/">Ir al iniciar sesión</a>
    </div>
  </body>
</html>
