<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error al cambiar la contraseña</title>
    <link rel="icon" href="/assets/candado.png" />
    <link rel="stylesheet" href="/views/views.css" />
  </head>
  <body class="fondo-err">
    <div class="card">
      <img src="/assets/fallido.png" alt="" />
      <h2>Error al cambiar la contraseña</h2>
      <p>
        El enlace ha expirado o ya fue utilizado. Solicita nuevamente el cambio
        de contraseña.
      </p>
      <a href="http://localhost:5173/">Volver al inicio</a>
    </div>
  </body>
</html>
