<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error de verificación</title>
    <link rel="icon" href="/assets/candado.png" />
    <link rel="stylesheet" href="/views/views.css" />
  </head>
  <body class="fondo-err">
    <div class="card">
      <img src="/assets/fallido.png" alt="" />
      <h2>Enlace de verificación no válido</h2>
      <p>El token ha expirado o ya fue utilizado.</p>
      <a href="http://localhost:5173/">Volver al inicio de sesión</a>
    </div>
  </body>
</html>
