.card-admin {
  width: 40rem;
  height: 4.5rem;
  background-color: #f3f2f7;
  border-radius: 0.5rem;
  padding: 0.9rem 0.9rem 0.9rem 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
}

.card-admin div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-admin div span:first-of-type {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.card-admin div span:last-of-type {
  font-size: 1rem;
  font-weight: 200;
  text-transform: capitalize;
  color: #767676;
}

.card-admin button {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  border: none;
  transition: 0.1s ease-in;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  background-color: #fc9403;
}

.card-admin button:hover {
  background-color: #e68302;
}

.card-admin button img {
  height: 55%;
  filter: invert(100%);
}

/*Card usuario*/
.card-usuario {
  width: 100%;
  height: 2.7rem;
  display: flex;
  gap: 0.9rem;
  flex-direction: row;
}

.card-usuario div {
  flex: 1;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.7rem;
  gap: 0.7rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.card-usuario span {
  font-size: 1rem;
}

.card-usuario span:nth-child(2) {
  margin-left: auto;
  color: #767676;
}

.card-usuario span:last-of-type {
  color: #767676;
}

.card-usuario button {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  transition: 0.1s ease-in;
  border-radius: 0.5rem;
}

.card-usuario button:first-of-type {
  background-color: #fc9403;
}

.card-usuario button:first-of-type:hover {
  background-color: #e68302;
}

.card-usuario button:last-of-type {
  background-color: #fa3d37;
}

.card-usuario button:last-of-type:hover {
  background-color: #e13732;
}

.card-usuario button img {
  height: 50%;
  filter: invert(100%);
}
