.go2534082608 {
  background: #fa3d37 !important;
}

.css-p5letf {
  padding-right: 0 !important;
}

.cont-inpNav {
  width: 13%;
  height: 100%;
  min-width: 4rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.cont-inpNav:focus-within {
  outline: auto;
}

.cont-inpNav input {
  width: 100%;
  height: 100%;
  padding: 0 0.8rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  max-width: calc(100% - 1.5rem);
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  outline: none;
}

.cont-inpNav img {
  position: absolute;
  right: 0.7rem;
  height: 45%;
  opacity: 0.5;
}

.cont-inpNav div {
  width: 100%;
  top: 3.2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 0.5rem;
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid #d2d1d6;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.cont-inpNav div button {
  height: 2.2rem;
  font-size: 1rem;
  text-align: start;
  padding-left: 0.7rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cont-inpNav div button:hover {
  background-color: #ebebeb;
}

.btn-nav {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  transition: 0.1s ease-in;
}

.btn-nav[title="Restablecer cliente seleccionado"] {
  background-color: #8d8c91;
}

.btn-nav[title="Restablecer cliente seleccionado"]:hover {
  background-color: #7a7980;
}

.btn-nav[title="Refrescar registros"] {
  background-color: #8d8c91;
}

.btn-nav[title="Refrescar registros"]:hover {
  background-color: #7a7980;
}

.btn-nav[title="Crear registro"],
.btn-nav[title="Exportar a excel"] {
  background-color: #37c45d;
}

.btn-nav[title="Crear registro"]:hover,
.btn-nav[title="Exportar a excel"]:hover {
  background-color: #2fa84d;
}

.btn-nav[title="Gestión de usuarios"],
.btn-nav[title="Gestión de usuario"] {
  background-color: #007afb;
}

.btn-nav.btn-user {
  width: 10%;
  justify-content: flex-start;
  padding: 0 0.6rem;
  gap: 0.6rem;
  font-size: 1rem;
  color: white;
}

.btn-nav.btn-user span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.btn-nav[title="Gestión de usuarios"]:hover,
.btn-nav[title="Gestión de usuario"]:hover {
  background-color: #0066d6;
}

.btn-nav[title="Cerrar sesión"],
.btn-nav[title="Exportar a pdf"] {
  background-color: #fa3d37;
}

.btn-nav[title="Cerrar sesión"]:hover,
.btn-nav[title="Exportar a pdf"]:hover {
  background-color: #e13732;
}

.btn-nav.btn-disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #ffffff;
  color: #838383;
}

.btn-nav.btn-disabled img {
  opacity: 0.4;
  filter: invert(0);
}

.btn-nav img {
  height: 50%;
  filter: invert(100%);
  transition: 0.1s ease-in;
}

.popup-overlay {
  background: rgba(33, 33, 33, 0.3);
}

.cont-popUp {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  gap: 0.9rem;
  padding: 0.9rem;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
}

.inp-hiden {
  height: 0;
  flex: none;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.cont-popUp h2 {
  font-size: 2.2rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.cont-popUp form {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  align-items: center;
}

.cont-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1rem;
}

.cont-label span {
  color: #fa3d37;
  font-size: 1rem;
}

.cont-pass {
  position: relative;
}

.cont-popUp .cont-pass button {
  aspect-ratio: 1/1;
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
}

.cont-popUp .cont-pass button:hover {
  background-color: transparent;
}

.cont-popUp .cont-pass button img {
  height: 55%;
  opacity: 0.5;
  filter: invert(0);
}

.cont-popUp .cont-pass button:active img {
  opacity: 1;
}

.cont-popUp form input {
  font-size: 1rem;
  width: 34rem;
  height: 2.7rem;
  border-radius: 0.5rem;
  padding: 0 0.8rem;
  border: none;
  flex: none;
  background-color: #f3f2f7;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

.cont-popUp form input.forgot-pass {
  width: 30rem;
}

.cont-popUp form button {
  width: 100%;
  height: 2.7rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #37c45d;
  color: white;
  font-weight: 500;
  transition: 0.1s ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.cont-popUp form button img {
  height: 50%;
  filter: invert(100%);
}

.cont-popUp form button:hover {
  text-decoration: underline;
  background-color: #2fa84d;
}

.cont-popUp form button.btn-forgot-pass {
  background-color: #0053b3;
}

.cont-popUp form button.btn-forgot-pass:hover {
  background-color: #004697;
}

.cont-popUp form .btn-cambio-contraseña {
  background-color: #fc9403;
}

.cont-popUp form .btn-cambio-contraseña:hover {
  background-color: #e68302;
}

.cont-tb-usuarios {
  width: 40rem;
  height: 55vh;
  display: flex;
  flex-direction: column;
  background-color: #f3f2f7;
  gap: 0.9rem;
  padding: 0.9rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

.cont-search-new {
  width: 100%;
  height: 2.7rem;
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
}

.cont-searcher {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.cont-searcher input {
  flex: 1;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0 0.8rem;
  border: none;
  font-size: 1rem;
}

.cont-searcher img {
  height: 45%;
  position: absolute;
  right: 0.7rem;
  opacity: 0.5;
  pointer-events: none;
}

.newUsuario {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  border: none;
  background-color: #37c45d;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  transition: 0.1s ease-in;
}

.newUsuario:hover {
  background-color: #2fa84d;
}

.newUsuario img {
  height: 50%;
  filter: invert(100%);
}

.tb-overflow-scroll-hiden {
  height: 28.803rem;
  max-height: 28.803rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.tb-usuarios {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 0.9rem;
}

.highlight {
  background-color: #ffebee;
  padding: 1px 0;
  border-radius: 3px;
  font-weight: bold;
  color: #c62828;
}

.highlight-key {
  background-color: #e3f2fd;
  padding: 1px 0;
  border-radius: 3px;
  font-weight: bold;
  color: #1976d2;
}

section {
  display: flex;
  gap: 0.9rem;
  padding: 0.9rem;
  height: auto;
  max-height: calc(100% - (4.5rem + 1px));
  min-height: calc(100% - (4.5rem + 1px));
  width: 100%;
  overflow-y: scroll;
}

section div {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 0.9rem;
  width: calc(50% - 0.45rem);
}

.cont-sin-resultados {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.cont-sin-resultados img {
  height: 10rem;
  width: 10rem;
}

.cont-sin-resultados span {
  font-size: 1.5rem;
}

.item {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.9rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.item h3 {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.item h3 button {
  position: absolute;
  height: 2.7rem;
  top: 1.2rem;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.item h3 button:hover {
  background-color: #f3f2f7;
  opacity: 1;
}

.item h3 button:first-of-type {
  left: 1.2rem;
  padding-left: 3px;
}

.item h3 button:last-of-type {
  right: 1.2rem;
}

.item h3 button img {
  height: 55%;
  opacity: 0.5;
  transition: 0.1s ease-in;
}

.item h3 button:hover img {
  opacity: 1;
}

.cont-dato {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.9rem;
}

.cont-dato .columna {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cont-dato .columna p {
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.skeleton {
  height: 100%;
}

.skeleton-header {
  width: 40%;
  margin: 1rem auto;
  height: 24px;
  background: #ddd;
  border-radius: 5px;
  animation: pulse 1.5s ease-in infinite;
}

.skeleton-divColumns {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.skeleton-line {
  width: 100%;
  height: 16px;
  background: #e0e0e0;
  border-radius: 5px;
  animation: pulse 1.5s ease-in infinite;
}

.skeleton-line.one-4 {
  width: 25%;
}

.skeleton-line.two-4 {
  width: 50%;
}

.skeleton-line.three-4 {
  width: 75%;
}

.skeleton-line.four-4 {
  width: 100%;
}

@keyframes pulse {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #f3f2f7;
  }
  100% {
    background-color: #ffffff;
  }
}

.cont-popUp-editarInfo {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  gap: 0.9rem;
  padding: 0.9rem;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
}

.cont-popUp-editarInfo h2 {
  font-size: 2.4rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.cont-popUp-editarInfo > div:first-of-type {
  width: 45rem;
  max-height: 60vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 0.9rem;
  border-radius: 0.5rem;
  background-color: #f3f2f7;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

.cont-dato-editar {
  display: flex;
  flex-direction: row;
  height: 2.7rem;
  width: 100%;
  flex-shrink: 0;
  border-radius: 0.5rem;
  gap: 0.9rem;
}

.cont-dato-editar input,
.cont-dato-editar span {
  border: none;
  height: 100%;
  padding: 0 0.7rem;
  font-size: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.cont-dato-editar span {
  width: calc(35% - 2.25rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cont-dato-editar input:first-of-type {
  width: calc(35% - 2.25rem);
}

.cont-dato-editar input:last-of-type {
  width: calc(65% - 2.25rem);
}

.cont-dato-editar input:last-of-type.input-obligatorio {
  flex: 1;
}

.cont-dato-editar button {
  height: 100%;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 0.5rem;
  transition: 0.1s ease-in;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fa3d37;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.cont-dato-editar button:hover {
  background-color: #e13732;
}

.cont-dato-editar button img {
  height: 55%;
  filter: invert(100%);
  transition: 0.1s ease-in;
}

.cont-btns {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
  height: 2.7rem;
  width: 100%;
}

.cont-btns button {
  height: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  gap: 0.4rem;
  color: #ffffff;
  cursor: pointer;
  width: calc(100% - 0.45rem);
  transition: 0.1s ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.cont-btns button img {
  height: 50%;
  filter: invert(100%);
  transition: 0.1s ease-in;
}

.cont-btns button:first-of-type img {
  margin-top: 3px;
}

.cont-btns button:first-of-type {
  background-color: #007afb;
}

.cont-btns button:first-of-type:hover {
  background-color: #0066d6;
}

.cont-btns button:last-of-type {
  background-color: #fc9403;
}

.cont-btns button:last-of-type:hover {
  background-color: #e68302;
}

.cont-btns .btn-crear:last-of-type {
  background-color: #37c45d;
}

.cont-btns .btn-crear:last-of-type:hover {
  background-color: #2fa84d;
}

.cont-cant-resultados {
  width: 8%;
  height: 100%;
  min-width: 4rem;
  padding: 0 0.8rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.cont-cant-resultados span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  outline: none;
  color: #757575;
}
