.fondo-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  --y-0: 90%;
  --x-0: 0%;
  --c-0: hsl(217deg 95% 72% / 100%);
  --c-1: hsl(217deg 95% 72% / 100%);
  --x-1: 98%;
  --y-1: 35%;

  background-color: hsl(0deg 0% 100% / 100%);
  background-image: radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    );
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal;
}

.cont-login {
  width: 35rem;
  height: 40rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-login img {
  height: 100%;
  aspect-ratio: 1/1;
}

.cont-login h1 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.cont-login h2 {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6rem;
  color: #757575;
  font-weight: 100;
  margin-bottom: 3rem;
}

.cont-login form {
  gap: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cont-label-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  font-size: 1.1rem;
  padding-left: 0.5rem;
}

.cont-input {
  width: 100%;
  height: 3.125rem;
  border: 1px solid #e3e3e3;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.cont-input:nth-child(2) {
  margin-bottom: 0.8rem;
}

.cont-input:focus-within {
  outline: auto;
}

.cont-input img {
  height: 100%;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0.7rem;
}

.cont-input:last-of-type img {
  rotate: -45deg;
}

input {
  height: 100%;
  flex: 1;
  padding: 0 0.8rem 0 0;
  font-size: 1rem;
  border: none;
  border-radius: 0.6rem;
  outline: none;
}

.cont-login form .btn-forgot-pass {
  color: #0053b3;
  margin-left: 0.5rem;
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: start;
}

.cont-login form .btn-forgot-pass:hover {
  text-decoration: underline;
}

.cont-login form button {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.6rem;
  margin-top: auto;
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  transition: 0.1s ease-in;
}

.cont-login form button[title="Iniciar sesión"] {
  background-color: #007afb;
}

.cont-login form button[title="Iniciar sesión"]:hover {
  text-decoration: underline;
  background-color: #0066d6;
}

.btn-login {
  height: 2.787rem;
}

.cont-login form span {
  color: #fa3d37;
  font-size: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Fondo animado aplicado directamente al root */
@keyframes hero-gradient-animation {
  0% {
    --y-0: 90%;
    --s-start-0: 3%;
    --s-end-0: 79%;
    --x-0: 0%;
    --c-0: hsl(217deg 95% 72% / 100%);
    --c-1: hsl(217deg 95% 72% / 100%);
    --s-start-1: 3%;
    --s-end-1: 79%;
    --x-1: 98%;
    --y-1: 35%;
  }

  100% {
    --y-0: 16%;
    --s-start-0: 4%;
    --s-end-0: 67%;
    --x-0: 24%;
    --c-0: hsl(0deg 0% 100% / 100%);
    --c-1: hsl(217deg 95% 72% / 100%);
    --s-start-1: 4%;
    --s-end-1: 67%;
    --x-1: 62%;
    --y-1: 100%;
  }
}

/* Properties necesarias para animación */
@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 90%;
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 3%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 79%;
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(217deg 95% 72% / 100%);
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(217deg 95% 72% / 100%);
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 3%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 79%;
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 98%;
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 35%;
}
