.cfm-cont {
  border-radius: 1rem;
}

.cfm-boton,
.cfm-boton-cancel {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  margin: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.swal2-icon.swal2-warning {
  margin: 0.9rem auto 0 auto;
}

.swal2-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.9rem;
  height: 2.7rem;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 0.9rem;
}

.swal2-html-container {
  padding: 0.9rem;
  margin-top: 1.2rem;
  border-radius: 0.5rem;
  background-color: #f3f2f7;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

.swal2-html-container .cont-tabla-csv {
  max-height: 30rem;
  overflow-y: auto;
  border-radius: 0.5rem;
}

.swal2-html-container .cont-tabla-csv table {
  border: none;
}
