/* ============================================
   IMPORTACIÓN DE FUENTES
   ============================================ */
@import url("./assets/fonts/stylesheet.css");

/* ============================================
   RESET Y ESTILOS GLOBALES
   ============================================ */
* {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================================
   HTML Y BODY
   ============================================ */
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f3f2f7;
}

/* ============================================
   OVERRIDE PARA SWEETALERT2
   ============================================ */
body.swal2-shown.swal2-height-auto {
  padding-right: 0 !important;
}

/* ============================================
   CONTENEDOR PRINCIPAL (ROOT)
   ============================================ */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f2f7;
  min-width: 52rem;
}

/* ============================================
   IMÁGENES
   ============================================ */
img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
}
